<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image.faceReco.repository.folder.FolderMapper">
    <insert id="createFolder" useGeneratedKeys="true" keyProperty="folderId">
        insert into folder(ownerId, parentFolderId, folderName, createDate)
        values(#{ownerId}, #{parentFolderId}, #{folderName},#{createDate})
    </insert>
    <update id="updateFolderName">
        update folder set folderName = #{updateRepositoryName} where ownerId = #{ownerId} and folderId = #{repositoryId}
    </update>
    <select id="selectFolderByFolderId" resultType="Folder">
        select folderId, ownerId, parentFolderId, folderName, createDate from folder where folderId = #{folderId};
    </select>
    <delete id="deleteFolderByFolderId">
        delete from folder where folderID = #{folderId}
    </delete>
    <select id="selectFolderByOwnerId" resultType="Folder">
        select folderId, ownerId, parentFolderId, folderName, createDate from folder where ownerId = #{ownerId};
    </select>
    <delete id="deleteFolderByFoldrIdList">
        delete from folder where ownerId = #{ownerId} and folderId in
        <foreach collection="idList" item="folderId" open="(" separator="," close=")">
            #{folderId}
        </foreach>
    </delete>
    <update id="updateFolderParentIdByFolderIdList">
        update folder set parentFolderId = #{parentId}
        where ownerId = #{ownerId} and folderId in
        <foreach collection="idList" item="folderId" open="(" separator="," close=")">
            #{folderId}
        </foreach>
    </update>
    <select id="selectFolderByParentFolderIdFolderName" resultType="String">
        select folderName from folder where ownerId = #{ownerId}
        <if test="parentId != null">
            and parentFolderId = #{parentId}
        </if>
        <if test="parentId == null">
            and parentFolderId is null
        </if>
        and folderName in
        <foreach collection="nameList" item="folderName" open="(" separator="," close=")">
            #{folderName}
        </foreach>
    </select>
</mapper>