<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="image.faceReco.repository.customer.CustomerMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into customer(userId, pwd, role) values(#{userId}, #{pwd}, #{role})
    </insert>
    <select id="findByUserId" resultType="Customer">
        select id, userId, pwd, role from customer where userId= #{userId}
    </select>

</mapper>